if SHIELD_OKSLAET_LEFT

config ZMK_KEYBOARD_NAME
    default "OKSLAET"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_OKSLAET_LEFT || SHIELD_OKSLAET_RIGHT

config ZMK_SPLIT
    default y

endif
